.isSplit {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

button {
    width: 25%;
    height: 50%;
    background-color: rgb(29, 29, 29);
    border: none;
    text-align: center;
    padding: 1.5%;
    border-radius: 5%;
    color: pink;
}

h2 {
    color: pink;
}